
#header {
	margin: 0px;
	padding: 0px;
	top: 0px;
	bottom: 0px;
	font-family: "Segoe UI";
	font-size: 16pt;
	color: #FFF;
	margin: 0px;
	padding: 0px;
}


body{
	padding: 0px;
	margin: 0px;
	top: 0px;
}

#container {
	width: 100%;
	background: #FFF; 
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-color: #036;
	padding: 0px;
	top: 0px;

}

#content {
	background: white;
	top: 10px;
	padding-top: 10px;
	padding-left: 10px;
	margin: 20px;
	position: absolute;
}

#content th {
	font-family: "Segoe UI";
	font-size: 12pt;
	text-transform: uppercase;
	text-align: left;
	color: #333;
	padding: 2px;
}

.linkButton {
	font-family: "Segoe UI";
	font-size: 12pt;
	color: #FFF;
	background: #4479BA;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-right: 20px;
	text-transform: uppercase;
}


td {
	font-family: "Segoe UI";
	font-size: 11pt;
	color: #333;
	text-decoration: none;
	padding: 4px;
}

h5 {
	font-family: "Segoe UI";
	text-decoration: none;
	font-size: 11pt;
	color: #333;
	text-transform: lowercase;
}